
<app-page-wrapper [loaded]="model">

  <!--Chapter name-->
  <div class="mat-h2">{{ model?.name }}</div>

  <!--Actions-->
  <ng-container *ngTemplateOutlet="actions"></ng-container>

  <!--Content-->
  <div>{{ model?.content }}</div>

  <!--Actions-->
  <ng-container *ngTemplateOutlet="actions"></ng-container>

  <!--Divider-->
  <mat-divider class="divider"></mat-divider>

</app-page-wrapper>

<!--Actions template-->
<ng-template #actions>

  <div class="actions" *ngIf="model">

    <!--Previous chapter link-->
    <a mat-button
       [disabled]="isFirstChapter"
       [routerLink]="['/book', bookId, isFirstChapter ? '' : model.book.chapters[chapterIndex - 1].id]">
      {{ 'page.chapter.action.previous' | translate }}
    </a>

    <!--Contents link-->
    <a mat-raised-button
       color="primary"
       [routerLink]="['/book', bookId]">
      {{ 'page.chapter.action.contents' | translate }}
    </a>

    <!--Next chapter link-->
    <a mat-button
      [disabled]="isLastChapter"
      [routerLink]="['/book', bookId, isLastChapter? '' : model.book.chapters[chapterIndex + 1].id]">
    {{ 'page.chapter.action.next' | translate }}
    </a>

  </div>
</ng-template>
