<!-- If the user is logged in-->
<ng-container *ngIf='userStorage.isAuth'>

  <!--User menu button-->
  <app-button [matMenuTriggerFor]="userMenu" design="image"></app-button>

</ng-container>

<!-- If the user is not logged in-->
<ng-container *ngIf='!userStorage.isAuth'>

  <!-- Sign in link -->
  <a routerLink="/sign-in" mat-button>{{ componentTK + 'sign-in' | translate }}</a>

</ng-container>


<!--User menu-->
<mat-menu #userMenu="matMenu">

  <!-- Sign out button -->
  <button mat-menu-item (click)="userStorage.signOut()">{{ componentTK + 'sign-out' | translate }}</button>

</mat-menu>
