<!-- If the user is logged in-->
<ng-container *ngIf='auth.isAuth'>

  <app-button [matMenuTriggerFor]="langMenu" design="image"></app-button>

  <mat-menu #langMenu="matMenu">

    <!-- Bookmarks link -->
    <a routerLink="/bookmarks" mat-menu-item>{{componentTK + 'bookmarks' | translate}}</a>

    <!-- Profile link -->
    <a routerLink="/account" mat-menu-item>{{componentTK + 'account' | translate}}</a>

    <!-- Sign out button -->
    <button mat-menu-item (click)="auth.signOut()">{{ componentTK + 'sign-out' | translate }}</button>

  </mat-menu>

</ng-container>

<!-- If the user is not logged in-->
<ng-container *ngIf='!auth.isAuth'>

  <!-- Sign in link -->
  <a routerLink="/sign-in" mat-button>{{ componentTK + 'sign-in' | translate }}</a>
</ng-container>
