<!-- If the user is logged in-->
<span *ngIf='auth.isAuth'>

  <!-- Create book button -->
  <a routerLink="/create-book" mat-icon-button>
    <mat-icon>library_add</mat-icon>
  </a>
  <!-- Profile link -->
  <a routerLink="/account" mat-button>{{ userStorage.userName }}</a>

  <!-- Sign out button -->
  <button mat-button (click)="auth.signOut()">{{ 'button-texts.sign-out' | translate }}</button>

</span>

<!-- If the user is not logged in-->
<span *ngIf='!auth.isAuth'>

  <!-- Sign in link -->
  <a routerLink="/sign-in" mat-button>{{ 'button-texts.sign-in' | translate }}</a>
</span>
