
.title {
  margin: 16px;
}

.h-flex-box {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.v-flex-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cover-box {
  margin: auto;
  max-width: 200px;
}

.cover-and-actions {
  max-width: 600px;
}
