<div class="list-header">
  <div class="mat-h2">{{ model?.name }}</div>
  <app-button *ngIf="model" design="icon" [userName]="model.book.user.userName">edit</app-button>
</div>

<div class="main-wrapper" *ngIf="model">

  <ng-container *ngTemplateOutlet="selectChapterTemplate"></ng-container>

  <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>

  <div class="content" *ngIf="model.content">{{ model?.content }}</div>
  <div class="content empty-content" *ngIf="!model.content">{{ componentTK + 'empty' | translate }}</div>

  <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>

  <ng-container *ngTemplateOutlet="selectChapterTemplate"></ng-container>

</div>

<app-comments *ngIf="model" [comments]="model.comments" entityType="chapter" [entityId]="chapterId"></app-comments>

<ng-template #selectChapterTemplate>

  <mat-form-field class="selectChapter">
    <mat-select [placeholder]=" 'input.chapter.placeholder'| translate" [value]="chapterId" (value)="selectChapter($event)">
      <mat-option *ngFor="let chapter of model.book.chapters" [value]="chapter.id" [routerLink]="['/book', bookId, chapter.id]">
        {{chapter.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</ng-template>

<ng-template #actionsTemplate>

  <div class="actions">
    <a mat-icon-button
       [disabled]="isFirstChapter"
       [routerLink]="['/book', bookId, isFirstChapter ? '' : model.book.chapters[chapterIndex - 1].id]">
      <mat-icon>navigate_before</mat-icon>
    </a>

    <a mat-mini-fab
       color="primary"
       [routerLink]="['/book', bookId]">
      <mat-icon>menu</mat-icon>
    </a>

    <a mat-icon-button
       [disabled]="isLastChapter"
       [routerLink]="['/book', bookId, isLastChapter ? '' : model.book.chapters[chapterIndex + 1].id]">
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>

</ng-template>
