
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.main-wrapper {
  margin: 16px 16px 0 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  margin: 16px 0;
}

.empty-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectChapter {
  max-width: 200px;
  margin: 0 auto;
}
