
<div class="overlay-backdrop"
      @backdrop
      *ngIf="service.isOpen"
      (click)="service.close()">
</div>

<div *ngIf="service.isOpen" class="dialog" [@openClose]="openCloseAnim" (@openClose.done)="finishClosing()">
  <div class="dialog2">
    <div class="mat-app-background portal" aria-modal="true" role="dialog" tabindex="1">

      <!--Header-->
      <div class="header" *ngIf="service.config.titleTK || service.config.closeButtonVisible" [style.max-width]="service.config.headerMaxWidth">

        <!--Title-->
        <div *ngIf="service.config.titleTK" class="mat-h1 title">{{ service.config.titleTK | translate }}</div>

        <!-- Spacer -->
        <span class="flex-spacer"></span>

        <!--Close button-->
        <div *ngIf="service.config.closeButtonVisible">
          <button type='button'
                  mat-icon-button
                  (click)='service.close()'>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <!--Portal-->
      <ng-template [cdkPortalOutlet]="componentPortal"></ng-template>
    </div>
  </div>
</div>
