
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card {
  margin: 0 8px;
}

.links-card {
  padding: 0;
  margin: 8px;
}

.email-visiblility-btn {
  margin-top: -12px;
}

.subtitle {
  display:flex;
}

input[type=file] {
  display: none;
}

.avatar-input-wrapper {
  cursor: pointer;
}
