/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #616161;
}

.flex-spacer {
  flex: 1 1 auto;
}

.horizontal-margin-md {
  margin: 0px 10px;
}

.vertical-margin-md {
  margin: 10px 0px;
}

.margin-md {
  margin: 10px;
}

.flex-box {
  display: flex;
}

.component {
  flex: 1;
  display: flex;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.flex-box-right-element {
  margin-left: auto;
}

.flex-box-center-element {
  align-self:center;
}

.bottom-sheet-main {
  width: 90%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;
}
