
<app-catalog [headerLabel]="books | arrayPluralTranslate:'book'"
             [event]="event"
             addLink="/books/add"
             (onUpdate)="update($event)"
             [filtersTemplate]="filtersTemplate">

  <mat-nav-list *ngIf="books">
    <a mat-list-item *ngFor="let book of books" routerLink="/book/{{ book.id }}">
      <app-cover matListAvatar design="mini" [path]="book.coverPath"></app-cover>
      <div matLine> {{ book.title }} </div>
    </a>
  </mat-nav-list>

</app-catalog>
