:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.drawer-container {
  flex: 1;
}
.drawer-content {
  display: flex;
  flex-direction: row;
}

.book-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.load-spinner {
}

.filters {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.spinner-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header {
  margin: 0 16px;
}
