

<mat-form-field *ngIf="type == 'textarea'"
                appearance="outline"
                class="field">
  <mat-label>{{ 'input.' + fieldTK + '.placeholder' | translate }}</mat-label>

  <textarea matInput
            [formControl]="field"></textarea>

  <mat-error *ngIf="field.invalid">
    <span *ngFor="let errorTK of errorTKs">
      {{ 'input.' + fieldTK + '.errors.' + errorTK | translate }}
    </span>
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="type != 'textarea'"
                appearance="outline"
                class="field">
  <mat-label>{{ 'input.' + fieldTK + '.placeholder' | translate }}</mat-label>

  <input matInput
         [type]="type"
         [formControl]="field" />
  <mat-error *ngIf="field.invalid">
    <span *ngFor="let errorTK of errorTKs">
      {{ 'input.' + fieldTK + '.errors.' + errorTK | translate }}
    </span>
  </mat-error>
</mat-form-field>
