<div class="main-wrapper">

  <!--Page name-->
  <h2>{{ 'pages.catalog.name' | translate }}</h2>

  <!--Books-->
  <mat-nav-list *ngIf="books" class="contant">
    <a mat-list-item routerLink="/book/{{ book.id }}" *ngFor="let book of books"> {{ book.title }} </a>
  </mat-nav-list>

  <!--Paginator-->
  <mat-paginator (page)="updatePage($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  <!--Load overlay-->
  <app-load-overlay *ngIf="!books"></app-load-overlay>

</div>
