<app-page-wrapper [loaded]="books">

  <div class="main-wrapper">

    <!--Header-->
    <div class="list-header">

      <!--Books count-->
      <div class="mat-h2">
        {{ (books ? books.length: 0) | plural:'book' | translate:{count: (books ? books.length: 0)} }}
      </div>

      <!--Spacer-->
      <span class="flex-spacer"></span>

      <!-- Create book button -->
      <a routerLink="/create-book" mat-raised-button color="primary">
        {{ 'page.add-book.link' | translate }}
      </a>

    </div>

    <!--Books-->
    <mat-nav-list *ngIf="books" class="contant">
      <mat-list-item *ngFor="let book of books">
        <app-image matListAvatar design="mini" [path]="book.coverPath"></app-image>
        <a matLine routerLink="/book/{{ book.id }}"> {{ book.title }} </a>
      </mat-list-item>
    </mat-nav-list>

    <!--Paginator-->
    <mat-paginator (page)="updatePage($event)"
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   showFirstLastButtons="true"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

</app-page-wrapper>
