<!--Email label-->
<p>Email: {{ userStorage.user.email }}</p>
<br />

<!--Email visibility-->
<mat-slide-toggle [(ngModel)]="emailIsVisible">{{ 'email-is-visible' | translate }}</mat-slide-toggle>
<br />
<br />

<!--Email confirmation block-->
<div *ngIf="!userStorage.user.emailConfirmed">

  <!--If confirmation message is sent-->
  <div *ngIf="emailConfirmationMessageSent">

    <p>{{ 'sent' | translate}}</p>

    <!--Send again button-->
    <button (click)="sendEmailConfirmationMessage()" mat-button>{{ 'button-texts.send-email-confirmation-message-again' | translate }}</button>

  </div>

  <!--If confirmation message is not sent-->
  <div *ngIf="!emailConfirmationMessageSent">

    <p>{{ 'email-is-not-confirmed' | translate}}</p>

    <!--Send button-->
    <button (click)="sendEmailConfirmationMessage()" mat-button>{{ 'button-texts.send-email-confirmation-message' | translate }}</button>
  </div>

</div>
<br />
<br />

<!--Password change link-->
<a routerLink="/change-password" mat-button>{{ 'button-texts.change-password' | translate }}</a>
<br />
