
<form *ngIf="form" [formGroup]="form">
  <ng-container *ngFor="let inputTemplate of inputTemplates">

    <ng-container [ngSwitch]="inputTemplate.type">

      <!--Select input-->
      <ng-container *ngSwitchCase="'select'">

        <!--Field-->
        <mat-form-field class="field">

          <!--Placeholder-->
          <mat-label>{{ 'input.' + inputTemplate.tk + '.placeholder' | translate }}</mat-label>

          <!--Select-->
          <mat-select [placeholder]="'input.' + inputTemplate.tk +'.placeholder' | translate"
                      [formControlName]="inputTemplate.name">
            <mat-option *ngFor="let element of inputTemplate.selectElements" [value]="element.value">
              {{ element.tk | translate}}
            </mat-option>
          </mat-select>

          <!--Errors-->
          <mat-error *ngIf="form.get(inputTemplate.name).invalid">
            <ng-container *ngFor="let errorTK of getErrorTKs(form.get(inputTemplate.name).errors)">
              {{ 'input.' + inputTemplate.tk + '.errors.' + errorTK | translate }}
            </ng-container>
          </mat-error>

        </mat-form-field>

      </ng-container>

      <!--Checkbox input-->
      <ng-container *ngSwitchCase="'checkbox'">

        <mat-checkbox [formControlName]="inputTemplate.name">
          {{ 'input.' + inputTemplate.tk + '.placeholder' | translate }}
        </mat-checkbox>

        <!--Errors-->
        <mat-error *ngIf="form.get(inputTemplate.name).invalid">
          <ng-container *ngFor="let errorTK of getErrorTKs(form.get(inputTemplate.name).errors)">
            {{ 'input.' + inputTemplate.tk + '.errors.' + errorTK | translate }}
          </ng-container>
        </mat-error>

      </ng-container>
      <!--Default input-->
      <ng-template ngSwitchDefault>

        <!--Field-->
        <mat-form-field class="field">

          <!--Placeholder-->
          <mat-label>{{ 'input.' + inputTemplate.tk + '.placeholder' | translate }}</mat-label>

          <!--Input-->
          <input matInput
                 [value]="inputTemplate.value ? inputTemplate.value : null"
                 [type]="(inputTemplate.type ? inputTemplate.type : 'text')"
                 [formControlName]="inputTemplate.name" />

          <!--Errors-->
          <mat-error *ngIf="form.get(inputTemplate.name).invalid">
            <ng-container *ngFor="let errorTK of getErrorTKs(form.get(inputTemplate.name).errors)">
              {{ 'input.' + inputTemplate.tk + '.errors.' + errorTK | translate }}
            </ng-container>
          </mat-error>

        </mat-form-field>

      </ng-template>
    </ng-container>
    <br />
  </ng-container>
</form>
