<ng-container *ngIf="!userName || userName == userStorage.userName">
  <ng-container [ngSwitch]="design">

    <ng-container *ngSwitchCase="'raised'">
      <button [type]="type"
              (click)="onClick($event)"
              mat-raised-button
              [color]="color"
              [disabled]="disabled"
              class="button">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'avatar'">
      <button [type]="type"
              (click)="onClick($event)"
              mat-mini-fab
              [color]="color"
              [disabled]="disabled"
              class="avatar"
              [style.background-image]="'url(' + getImagePath() + ')'">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'fab'">
      <button [type]="type"
              (click)="onClick($event)"
              mat-fab
              [disabled]="disabled"
              [color]="color"
              class="button">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'icon'">
      <button [type]="type"
              (click)="onClick($event)"
              mat-icon-button
              [disabled]="disabled"
              [color]="color">
        <mat-icon><ng-container *ngTemplateOutlet="content"></ng-container></mat-icon>
      </button>
    </ng-container>

    <ng-template ngSwitchDefault>
      <button [type]="type"
              (click)="onClick($event)"
              mat-button
              [disabled]="disabled"
              [color]="color"
              class="button">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </button>
    </ng-template>

  </ng-container>
</ng-container>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
