
<div class="main-wrapper">

  <mat-card class="header-card mat-elevation-z2">

    <div class="mat-h2"> {{ headerLabel }} </div>
    <a *ngIf="addLink" [routerLink]="addLink" mat-icon-button>
      <mat-icon>add</mat-icon>
    </a>

    <app-flex-spacer></app-flex-spacer>

    <app-search (onSearch)="search($event)"></app-search>
    <app-button *ngIf="filtersTemplate" design="icon" (simpleClick)='filtersOpened = !filtersOpened'>
      filter_list
    </app-button>

  </mat-card>

  <div class="content-card">

    <div class="content" *ngIf="updated">
      <ng-content></ng-content>
    </div>

    <div class="spinner-wrapper" *ngIf="!updated">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
  </div>

  <mat-paginator *ngIf="event"
                 class="paginator mat-elevation-z2"
                 (page)="update($event)"
                 [length]="event.length"
                 [pageSize]="event.pageSize"
                 [pageIndex]="event.pageIndex"
                 showFirstLastButtons="true"
                 [pageSizeOptions]="[2, 5, 10, 25, 100]">
  </mat-paginator>
</div>

<mat-card class="filters-card" *ngIf="filtersTemplate" [style.display]="filtersOpened? 'flex' : 'none' ">
  <app-filters [formTemplate]="filtersTemplate" (onApply)="applyFilters($event)"></app-filters>
</mat-card>
