<mat-card>

  <!--Page name-->
  <h2>{{ 'pages.password-change.name' | translate }}</h2>

  <!--Main form-->
  <form [formGroup]="mainForm" (submit)="mainSubmit()">

    <!--Current password input-->
    <app-input formControlName="oldPassword" type="password" fieldTK="current-password" [field]="mainForm.get('oldPassword')"></app-input>
    <br />
    <br />

    <!--New password input-->
    <app-input formControlName="newPassword" type="password" fieldTK="new-password" [field]="mainForm.get('newPassword')"></app-input>
    <br />
    <br />

    <!--Submit button-->
    <button mat-raised-button color="primary" type="submit">
      {{ 'button-texts.change-password' | translate }}
    </button>

  </form>

</mat-card>
