<mat-card>
  <h2>{{ 'password-change-page-header' | translate }}</h2>
  <form [formGroup]="passwordChangeForm">

    <!--Old password form field-->
    <mat-form-field>
      <input matInput placeholder="{{ 'current-password-input-placeholder' | translate }}" type="password" formControlName="oldPassword" />
      <!--If Password is empty-->
      <mat-error *ngIf="
            passwordChangeForm.controls['oldPassword'].invalid
            && passwordChangeForm.controls['oldPassword'].touched
            && !passwordChangeForm.controls['oldPassword'].value">
        {{ 'current-password-input-error-empty' | translate }}
      </mat-error>
    </mat-form-field>

    <br />

    <!--New password form field-->
    <mat-form-field>
      <input matInput placeholder="{{ 'new-password-input-placeholder' | translate }}" type="password" formControlName="newPassword" />
      <!--If Password is empty-->
      <mat-error *ngIf="
            passwordChangeForm.controls['newPassword'].invalid
            && passwordChangeForm.controls['newPassword'].touched
            && !passwordChangeForm.controls['newPassword'].value">
        {{ 'new-password-input-error-empty' | translate }}
      </mat-error>
    </mat-form-field>

    <br />

    <!--Submit button-->
    <button mat-raised-button color="primary" (click)="change()">
      {{ 'password-change-button-text' | translate }}
    </button>

  </form>
</mat-card>
