
<div *ngIf="book">

  <h2>{{ book.title }}</h2>
  <p>{{ book.owner.userName }}</p>
  <img [src]="'https://localhost:44314/images/' + book.mainImagePath"/>
  <p>{{ 'chapters'| translate}}</p>
  <mat-nav-list>
    <a mat-list-item *ngFor="let chapter of book.chapters" [routerLink]="['/book', book.id, chapter.id]">
      {{chapter.name}}
    </a>
  </mat-nav-list>
  <div *ngIf="!book.chapters || book.chapters.length < 1">{{'empty'|translate}}</div>

  <a mat-raised-button color="primary" [routerLink]="['/book', book.id, 'create-chapter']">
    {{ 'button-texts.create' | translate }}
  </a>

  <app-comments [comments]="book.comments" [id]="book.id" type="book"></app-comments>
</div>

<div *ngIf="!book">
  !
</div>
