
<div *ngIf="book">

  <h2>{{ book.title }}</h2>
  <p>{{ book.owner.userName }}</p>

  <!--Comments-->
  <div *ngFor="let comment of book.comments">

    <app-comment [comment]="comment"></app-comment>
  </div>

  <!--Comment form-->
  <form [formGroup]="commentForm" (submit)="commentSubmit()">

    <!--Content input-->
    <app-input formControlName="content" type="textarea" fieldTK="comment" [field]="commentForm.get('content')"></app-input>

    <!--Submit button-->
    <button mat-raised-button color="primary" type="submit">
      {{ 'button-texts.create' | translate }}
    </button>
  </form>
</div>

<div *ngIf="!book">
  !
</div>
