
<app-page-wrapper [loaded]="languageTKs">

  <!--Page name-->
  <h2>{{ 'page.add-book.name' | translate }}</h2>

  <!--Translate toggle-->
  <mat-slide-toggle [(ngModel)]="isTranslate">
    Translate
  </mat-slide-toggle>

  <!--Form-->
  <app-form #form></app-form>

  <div class="flex-box">
    <!--Spacer-->
    <span class="flex-spacer"></span>

    <!--Submit button-->
    <app-button design="raised" color="primary" (simpleClick)="submit()">
      {{ 'action.add' | translate }}
    </app-button>
  </div>

</app-page-wrapper>
