<app-page-wrapper [loaded]="!isWaiting" maxWidth="300px">

  <app-form #form [template]="formTemplate" [errors]="formErrors"></app-form>

  <div class="flex-box">

    <!-- Sign up link -->
    <a routerLink="/sign-up" mat-button>{{ 'page.sign-up.link' | translate }}</a>

    <!--Spacer-->
    <span class="flex-spacer"></span>

    <!--Submit button-->
    <app-button design="raised" color="primary" (simpleClick)="submit()"> {{ 'page.sign-in.link' | translate }} </app-button>

  </div>
</app-page-wrapper>
