<div class="dialog-content-wrapper">

  <!--Load overlay-->
  <app-load-overlay *ngIf="isWaiting"></app-load-overlay>

  <!--Main form-->
  <form [formGroup]="mainForm" (submit)="mainSubmit()">

    <!--Email input-->
    <app-input formControlName="email" type="email" fieldTK="email" [field]="mainForm.get('email')"></app-input>

    <!--Password input-->
    <app-input formControlName="password" type="password" fieldTK="password" [field]="mainForm.get('password')"></app-input>

    <!--Buttons container-->
    <div class="dialog-buttons-wrapper">

      <!-- Sign up link -->
      <a routerLink="/sign-up" mat-button>{{ 'page.sign-up.link' | translate }}</a>

      <!--Submit button-->
      <app-button type="submit" design="raised" color="primary"> {{ 'page.sign-in.link' | translate }} </app-button>
    </div>

  </form>

</div>
