<mat-sidenav-container class="mat-app-background">

  <!--Sidenav-->
  <mat-sidenav #sidenav [mode]="breakpointService.level >= 3 ? 'side' : 'over'" class="mat-app-background">
    <div class="content">

      <!--Header-->
      <mat-toolbar color="primary">
        <a mat-button routerLink="/"><span class="mat-h2">{{ componentTK + 'sidenav-header' | translate }}</span></a>
      </mat-toolbar>

      <!--Main-->
      <mat-nav-list class="sidenav-main">

        <a mat-list-item routerLink="/" (click)="sidenavClick(sidenav)">{{ componentTK + 'link.main' | translate }}</a>
        <a mat-list-item routerLink="/books" (click)="sidenavClick(sidenav)">{{ componentTK + 'link.catalog' | translate }}</a>

        <app-flex-spacer></app-flex-spacer>

        <a mat-list-item routerLink="/new-team" (click)="sidenavClick(sidenav)">{{ componentTK + 'link.new-team' | translate }}</a>
        <a mat-list-item routerLink="/books/add" (click)="sidenavClick(sidenav)">{{ componentTK + 'link.new-book' | translate }}</a>
      </mat-nav-list>

      <!--Footer-->
      <mat-toolbar color="primary">

      </mat-toolbar>

    </div>
  </mat-sidenav>

  <!--Content-->
  <mat-sidenav-content class="content">

    <!--Header-->
    <mat-toolbar color="primary">

      <!--Menu button-->
      <app-button design="icon" (simpleClick)='sidenav.toggle()'>menu</app-button>

      <app-flex-spacer></app-flex-spacer>

      <app-user-panel></app-user-panel>

    </mat-toolbar>

    <!--Main-->
    <main class="main">
      <div class="main" [style.display]="pageService.loaded && !pageService.error ? 'flex' : 'none'">
        <!--Router outlet-->
        <router-outlet></router-outlet>
      </div>
      <app-error-page [errorData]="pageService.error" *ngIf="pageService.loaded && pageService.error"></app-error-page>
      <!--Spinner-->
      <mat-spinner *ngIf="!pageService.loaded" [diameter]="70" class="page-load-spinner"></mat-spinner>
    </main>

    <!--Footer-->
    <mat-toolbar color="primary">

      <!--Language picker-->
      <app-language-picker></app-language-picker>

      <app-flex-spacer></app-flex-spacer>

      <!--Theme picker-->
      <app-theme-picker></app-theme-picker>

    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>
