<app-page-wrapper>

  <!--<div class="mat-card-subtitle">SubTitle</div>
  <p class="header">
    {{ 0 | plural:'comments' | translate:{count: 3} }}
  </p>
  <app-button design="raised" color="primary" (simpleClick)="click(2)">Test</app-button>
  <div class="mat-display-4">Qwerty! .mat-display-4</div>
  <div class="mat-display-3">Qwerty! .mat-display-3</div>
  <div class="mat-display-2">Qwerty! .mat-display-2</div>
  <div class="mat-display-1">Qwerty! .mat-display-1</div>
  <div class="mat-h1">Qwerty! .mat-h1</div>
  <div class="mat-h2">Qwerty! .mat-h2 </div>
  <div class="mat-h3">Qwerty! .mat-h3</div>
  <div class="mat-h4">Qwerty! .mat-h4</div>
  <div class="mat-body">Qwerty! .mat-body</div>
  <div class="mat-body-strong">Qwerty! .mat-body-strong</div>
  <div class="mat-small">Qwerty! .mat-small</div>-->
  <div class="">Qwerty!</div>
</app-page-wrapper>
