<div class="main">

  <header>
    <mat-toolbar>

      <!-- Menu button -->
      <button type='button'
              aria-label='Toggle sidenav'
              mat-icon-button
              (click)='sidenav.toggle()'>
        <mat-icon aria-label='Side nav toggle icon'>menu</mat-icon>
      </button>

      <!-- Site name -->
      <a routerLink="" mat-button>{{ 'site.name' | translate }}</a>

      <!-- Spacer -->
      <span class="flex-spacer"></span>


      <!-- User block -->
      <app-user-header-block></app-user-header-block>

    </mat-toolbar>
  </header>

  <mat-sidenav-container class='sidenav-container'>

    <!-- Left menu -->
    <mat-sidenav #sidenav
                 [mode]='(isHandset$ | async) ? "over" : "side"'
                 [opened]='!(isHandset$ | async)'>

      <!-- Navbar -->
      <mat-nav-list>
        <a mat-list-item routerLink="">{{ 'navbar-links.main' | translate }}</a>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>

      <main>
        <router-outlet></router-outlet>
      </main>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer>
    <mat-toolbar>

      <app-language-picker></app-language-picker>

    </mat-toolbar>
  </footer>
</div>
