<div class="bottom-sheet-main">
  <app-load-overlay *ngIf="isWaiting"></app-load-overlay>
  <app-dialog-header titleTK="pages.sign-in.name" closeButtonVisible="true"></app-dialog-header>

  <!--Main form-->
  <form [formGroup]="mainForm" (submit)="mainSubmit()">

    <!--Email input-->
    <app-input formControlName="email" type="email" fieldTK="email" [field]="mainForm.get('email')"></app-input>
    <br />

    <!--Password input-->
    <app-input formControlName="password" type="password" fieldTK="password" [field]="mainForm.get('password')"></app-input>
    <br />

    <div class="flex-box">
      <!-- Sign up button -->
      <button type="button" mat-button (click)="signUp.open()">{{ 'button-texts.sign-up' | translate }}</button>

      <div class="flex-box-right-element">

        <!--Submit button-->
        <button mat-raised-button color="primary" type="submit">
          {{ 'button-texts.sign-in' | translate }}
        </button>
      </div>
    </div>
  </form>

</div>
