
<mat-toolbar class="header mat-elevation-z2">
  <mat-toolbar-row class="toolbar-line">
    <app-button *ngIf="!isDesktop" design="icon"
                [matTooltip]="componentTK + 'link.menu' | translate"
                (simpleClick)='sidenav.toggle()'>menu</app-button>
    <a mat-button routerLink="/"><span class="mat-h2">{{ componentTK + 'header' | translate }}</span></a>

    <app-flex-spacer></app-flex-spacer>

    <ng-container *ngIf='userStorage.isAuth'>

      <app-notifications></app-notifications>
      <div class="mat-h2 userName" *ngIf="isDesktop;else mobileUserTemplate">{{userStorage.userName}}</div>


      <ng-template #mobileUserTemplate>
        <app-button class="userName" [matMenuTriggerFor]="userMenu" [imagePath]="userStorage.avatarPath" design="avatar" *ngIf="!isDesktop"></app-button>

        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink="/bookmarks">{{ componentTK + 'link.' + 'bookmarks' | translate }}</a>
          <a mat-menu-item [routerLink]="['/user', userStorage.userName]">{{ componentTK + 'link.' + 'account' | translate }}</a>
          <button mat-menu-item (click)="userStorage.signOut()">{{ componentTK + 'link.' + 'sign-out' | translate }}</button>
        </mat-menu>
      </ng-template>

    </ng-container>
    <ng-container *ngIf='!userStorage.isAuth'>

      <a routerLink="/sign-in" mat-button><span class="mat-h2">{{ componentTK + 'link.' + 'sign-in' | translate }}</span></a>

    </ng-container>

  </mat-toolbar-row>
</mat-toolbar>

<div class="main-wrapper" [class.desktop-main-wrapper]="isDesktop">

  <mat-card class="nav-mat-card" *ngIf="isDesktop">
    <a mat-button *ngFor="let link of links" [routerLink]="link.path">{{ componentTK + 'link.' + link.tKey | translate }}</a>

    <app-flex-spacer></app-flex-spacer>

    <ng-container *ngIf="userStorage.isAuth">

      <a mat-button *ngFor="let link of authLinks" [routerLink]="link.path">{{ componentTK + 'link.' + link.tKey | translate }}</a>
      <app-button (click)="userStorage.signOut()">{{ componentTK + 'link.' + 'sign-out' | translate }}</app-button>

    </ng-container>
  </mat-card>

  <mat-sidenav-container class="mobile-sidenav-container">
    <mat-sidenav #sidenav mode="over">

      <mat-nav-list>
        <a mat-list-item *ngFor="let link of links" [routerLink]="link.path">{{ componentTK + 'link.' + link.tKey | translate }}</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="content">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<mat-toolbar class="footer mat-elevation-z24">
  <mat-toolbar-row class="toolbar-line">
    <app-language-picker></app-language-picker>
    <app-flex-spacer></app-flex-spacer>
    <app-theme-picker></app-theme-picker>
  </mat-toolbar-row>
</mat-toolbar>
