
<div class="main-wrapper" *ngIf="isVisible">

  <app-avatar [user]="userStorage.user"></app-avatar>

  <!--Comment form-->
  <form [formGroup]="mainForm" class="main">

    <!--Content input-->
    <app-input formControlName="content" type="textarea" fieldTK="comment" [field]="mainForm.get('content')"></app-input>

    <div class="actions" *ngIf="isActive">

      <!--Cancel button-->
      <app-button *ngIf="parentId" (simpleClick)="cancel()">
        {{ 'action.cancel' | translate }}
      </app-button>

      <!--Submit button-->
      <app-button (authClick)="mainSubmit()" color="primary" design="raised">
        {{ 'action.create' | translate }}
      </app-button>

    </div>
  </form>
</div>
