
<div class="main-wrapper"  *ngIf="isVisible">

  <app-avatar [user]="userStorage.user"></app-avatar>

  <!--Comment form-->
  <form [formGroup]="mainForm" (submit)="mainSubmit()" class="main">

    <!--Content input-->
    <app-input formControlName="content" type="textarea" fieldTK="comment" [field]="mainForm.get('content')"></app-input>

    <div class="actions" *ngIf="isActive">

      <!--Cancel button-->
      <button *ngIf="parentId" mat-button type="button" (click)="cancel()">
        Cancel
      </button>

      <!--Submit button-->
      <button *ngIf="auth.isAuth" mat-raised-button color="primary" type="submit">
        {{ 'button-texts.create' | translate }}
      </button>

      <a *ngIf="!auth.isAuth" mat-raised-button color="primary" routerLink="/sign-in">
        {{ 'button-texts.create' | translate }}
      </a>
    </div>
  </form>
</div>
