<app-page-wrapper [loaded]="!isWaiting">

  <!--Basic info-->
  <mat-card class="basic-info-card">
    <mat-card-header>
      <button mat-mini-fab *ngIf="!isWaiting" class="avatar" mat-card-avatar (click)="changeAvatar()"></button>
      <mat-card-title>{{userStorage.userName}}</mat-card-title>
      <mat-card-subtitle>{{ model?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="!isWaiting" class="basic-info-card-content">

      <!--Email visibility-->
      <!--<div class="content-element">
        <app-load-overlay *ngIf="isEmailVisibilityChanging"></app-load-overlay>

        <mat-slide-toggle [(ngModel)]="userStorage.user.emailIsVisible" (change)="onEmailVisibilityChanged()">
          Email is visible for other users?
        </mat-slide-toggle>
      </div>-->

    </mat-card-content>
  </mat-card>

  <!--Security-->
  <mat-card class="security-card">
    <mat-card-header>
      <mat-card-title>Security</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!--Team-->
  <mat-card class="team-card" *ngIf="model">
    <mat-card-header>
      <mat-card-title>Teams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngFor="let team of model.teams" [routerLink]="['/team', team.id]">{{team.name}}</a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</app-page-wrapper>
