
<mat-card>

  <div class="list-header">

    <div class="mat-h2">
      {{ comments | arrayPluralTranslate:'comment' }}
    </div>

  </div>
  <app-new-comment [entityId]="entityId"
                   [entityType]="entityType"
                   (onCreate)="addComment($event)"
                   isVisible="true"></app-new-comment>

  <ng-container *ngFor="let comment of filterComments()">

    <ng-container *ngTemplateOutlet="commentTemplate; context: {comment: comment}"></ng-container>

  </ng-container>
</mat-card>

<ng-template #commentTemplate let-comment="comment">

  <!--Comment-->
  <div class="comment-wrapper">

    <!--Avatar-->
    <app-avatar [user]="comment.user"></app-avatar>

    <div class="comment-main">

      <!--Header-->
      <div class="header">
        <span class="mat-body-strong">{{ comment.user.userName }} </span>
        <span class="mat-card-subtitle"> {{ comment.creationTime | timeAgoPluralTranslate }}</span>
      </div>

      <!--Content-->
      <div class="mat-body">
        {{ comment.content }}
      </div>

      <!--Actions-->
      <div class="comment-actions">
        <app-button (authClick)="comment.answerIsVisible = true">Answer</app-button>

      </div>

      <app-new-comment [entityId]="entityId"
                       [entityType]="entityType"
                       (onCreate)="addComment($event); comment.answersIsVisible = true"
                       [parentId]="(comment.parentId ? comment.parentId : comment.id)"
                       [(isVisible)]="comment.answerIsVisible"></app-new-comment>

      <!--Actions-->
      <div class="comment-actions">
        <app-button *ngIf="!comment.parentId && filterComments(comment.id) && filterComments(comment.id).length"
                    (simpleClick)="comment.answersIsVisible = !comment.answersIsVisible">
          {{ comment.answersIsVisible ? 'Hide answers' : 'Show answers' }}
          <mat-icon>{{ comment.answersIsVisible ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </app-button>
      </div>
      <ng-container *ngIf="comment.answersIsVisible">

        <ng-container *ngFor="let answerComment of filterComments(comment.id)">

          <ng-container *ngTemplateOutlet="commentTemplate; context: {comment: answerComment}"></ng-container>

        </ng-container>
      </ng-container>
    </div>
  </div>

</ng-template>
