<div class="main-wrapper">

  <!--Header-->
  <header>
    <mat-toolbar>

      <!-- Main link -->
      <a routerLink="" mat-button>{{ 'navbar-links.main' | translate }}</a>

      <!-- Catalog link -->
      <a routerLink="/catalog" mat-button>{{ 'navbar-links.catalog' | translate }}</a>
      <!-- Spacer -->
      <span class="flex-spacer"></span>

      <!--User panel-->
      <app-user-panel></app-user-panel>

    </mat-toolbar>
  </header>

  <!-- Content -->
  <main class="component content">
    <router-outlet></router-outlet>
  </main>

  <!--Footer-->
  <footer>
    <mat-toolbar>

      <!--Language picker-->
      <app-language-picker></app-language-picker>

    </mat-toolbar>
  </footer>
</div>

<!--Dialog window-->
<app-dialog-window></app-dialog-window>
