.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.toolbar-row {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.content-wrapper {
  margin: 0 auto;
  flex: 1;
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.content {
  flex: 1;
  display:flex;
  margin: 16px;
}
