<div class="main-wrapper">

  <!--Header-->
  <mat-toolbar class="line">

      <!-- Main link -->
      <a routerLink="" mat-button>{{ 'navbar-links.main' | translate }}</a>

      <!-- Catalog link -->
      <a routerLink="/catalog" mat-button>{{ 'navbar-links.catalog' | translate }}</a>
      <!-- Spacer -->
      <span class="flex-spacer"></span>

      <!--User panel-->
      <app-user-panel></app-user-panel>

  </mat-toolbar>

  <!-- Content -->
  <router-outlet></router-outlet>

  <!--Footer-->
  <mat-toolbar class="line">

      <!--Language picker-->
      <app-language-picker></app-language-picker>

  </mat-toolbar>
</div>

<!--Dialog window-->
<app-dialog-window></app-dialog-window>
