<div *ngIf="model">

  <div class="list-header">

    <div>
      <div class="mat-h2">{{ model?.title }}</div>
      <div class="mat-h2 mat-card-subtitle">{{ model?.originalTitle }}</div>
    </div>

    <span class="flex-spacer"></span>

    <app-button design="icon" (authClick)="changeBookmark()">{{( model.bookmark ? 'star' : 'star_border' ) | translate}}</app-button>
  </div>

  <mat-tab-group headerPosition="abowe" dynamicHeight>
    <mat-tab [label]="mainTabTK + 'label' | translate">

      <mat-grid-list [cols]="mainGridCols" rowHeight="72px" class="mainGrid">
        <mat-grid-tile rowspan="4">
          <app-cover [path]="model.coverPath"></app-cover>
        </mat-grid-tile>

        <ng-container *ngFor="let prop of mainProps">
          <mat-grid-tile *ngIf="prop && (prop.value || prop.valueTK)">

            <ng-container *ngIf="!prop.link; else linkMainPropTemplate">

              <mat-list style="width: 100%;">
                <mat-list-item>
                  <div matLine class="mat-body" *ngIf="prop.value">{{ prop.value }}</div>
                  <div matLine class="mat-body" *ngIf="prop.valueTK">{{ prop.valueTK | translate}}</div>
                  <div matLine class="mat-card-subtitle">{{ mainTabTK + prop.labelTK | translate}}</div>
                </mat-list-item>
              </mat-list>

            </ng-container>

            <ng-template #linkMainPropTemplate>

              <mat-nav-list style="width: 100%;">
                <a mat-list-item [routerLink]="prop.link">
                  <div matLine class="mat-body" *ngIf="prop.value">{{ prop.value }}</div>
                  <div matLine class="mat-body" *ngIf="prop.valueTK">{{ prop.valueTK | translate}}</div>
                  <div matLine class="mat-card-subtitle">{{ mainTabTK + prop.labelTK | translate}}</div>
                </a>
              </mat-nav-list>
            </ng-template>
          </mat-grid-tile>
        </ng-container>

      </mat-grid-list>
    </mat-tab>
    <mat-tab [label]="componentTK + 'tab.content.label' | translate">
      <div class="centered-box">
        <div class="list-header">

          <div class="mat-h2">
            {{ model.chapters | arrayPluralTranslate:'chapter' }}
          </div>

          <span class="flex-spacer"></span>


          <app-button [matMenuTriggerFor]="newChapterMenu" [userName]="model.user.userName" design="icon">add</app-button>

          <mat-menu #newChapterMenu="matMenu">

            <div class="menu" (click)="$event.stopPropagation()">
              <app-form #newChapterForm [template]="newChapterFormTemplate" [errors]="newChapterFormErrors"></app-form>

              <div class="flex-box">
                <span class="flex-spacer"></span>
                <app-button design="raised" color="primary" (authClick)="addChapter(newChapterForm.form)">{{ contentTabTK + 'add-chapter' | translate }}</app-button>
              </div>
            </div>

          </mat-menu>

        </div>

        <mat-nav-list *ngIf="model.chapters">

          <a mat-list-item *ngFor="let chapter of model.chapters" [routerLink]="['/book', bookId, chapter.id]">
            {{chapter.name}}
          </a>

        </mat-nav-list>
      </div>
    </mat-tab>
    <mat-tab [label]="componentTK + 'tab.comments.label' | translate">
      <div class="centered-box">
        <app-comments [comments]="model.comments" entityType="book" [entityId]="bookId"></app-comments>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
