
<mat-card class="header">
  <div class="mat-h2">{{ model?.name }}</div>

  <app-flex-spacer></app-flex-spacer>

  <a mat-icon-button [routerLink]="['/book', bookId, chapterId, 'edit']"><mat-icon>edit</mat-icon></a>
</mat-card>

<mat-card class="nav-card">

  <ng-container *ngTemplateOutlet="selectChapterTemplate"></ng-container>

  <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>

</mat-card>

<mat-card class="content-card" *ngIf="model">

  <p *ngIf="model.content">{{ model?.content }}</p>
  <div class="content empty-content" *ngIf="!model.content">{{ componentTK + 'empty' | translate }}</div>

</mat-card>

<mat-card class="nav-card">

  <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>

  <ng-container *ngTemplateOutlet="selectChapterTemplate"></ng-container>

</mat-card>

<app-comments class="comments" *ngIf="model" [comments]="model.comments" entityType="chapter" [entityId]="chapterId"></app-comments>

<ng-template #selectChapterTemplate>

  <mat-form-field class="select-chapter" *ngIf="model">
    <mat-select *ngIf="chapterId" [placeholder]=" 'input.chapter.placeholder'| translate" [value]="chapterId">
      <mat-option *ngFor="let chapter of model.book.chapters" [value]="chapter.id" [routerLink]="['/book', bookId, chapter.id]">
        {{chapter.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</ng-template>

<ng-template #actionsTemplate>

  <div class="actions" *ngIf="model">
    <a mat-icon-button
       [disabled]="isFirstChapter"
       [routerLink]="['/book', bookId, isFirstChapter ? '' : model.book.chapters[chapterIndex - 1].id]">
      <mat-icon>navigate_before</mat-icon>
    </a>

    <a mat-mini-fab
       color="primary"
       [routerLink]="['/book', bookId]">
      <mat-icon>menu</mat-icon>
    </a>

    <a mat-icon-button
       [disabled]="isLastChapter"
       [routerLink]="['/book', bookId, isLastChapter ? '' : model.book.chapters[chapterIndex + 1].id]">
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>

</ng-template>
