:host {
}

.notifications-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 32px;
  min-width: 184px;
  justify-content: center;
  padding: 8px;
}

.divider {
  margin: 8px;
}

.time {
  margin: 0 16px;
}

.empty {
  align-self: center;
}
