<!--Page name-->
<h2>{{ 'pages.add-chapter.name' | translate }}</h2>

<!--Main form-->
<form [formGroup]="mainForm">

  <!--Name input-->
  <app-input formControlName="name" type="text" fieldTK="chapter-name" [field]="mainForm.get('name')"></app-input>
  <br />

  <!--Content input-->
  <app-input formControlName="content" type="textarea" fieldTK="chapter-content" [field]="mainForm.get('content')"></app-input>
  <br />

  <div class="flex-box">

    <div class="flex-box-right-element">

      <!--Submit button-->
      <button mat-raised-button color="primary" (click)="mainSubmit()">
        {{ 'button-texts.create' | translate }}
      </button>
    </div>
  </div>
</form>

