<div *ngIf="model" class="main-wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{teamName}}</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="card">
    <div class="list-header">
      <div class="mat-h2">
        {{ model.members | arrayPluralTranslate:'team-member' }}
      </div>

      <a mat-icon-button [routerLink]="['/team', teamName, 'invite']"><mat-icon>add</mat-icon></a>
    </div>
    <mat-nav-list *ngIf="model.members">

      <a mat-list-item *ngFor="let member of model.members" [routerLink]="['/user', member.userName]">
        {{member.userName}} <div class="mat-card-subtitle role" *ngIf="member.roleTK != 'member'">&nbsp;&nbsp;{{ 'team-member-role.' + member.roleTK | translate}}</div>
      </a>

    </mat-nav-list>
  </mat-card>

</div>
