
<app-catalog [headerLabel]="books | arrayPluralTranslate:'book'"
             [event]="event"
             (onUpdate)="update($event)"
             [filtersTemplate]="filtersTemplate">

  <mat-nav-list *ngIf="books">
    <mat-list-item *ngFor="let book of books">
      <app-cover matListAvatar design="mini" [path]="book.coverPath" routerLink="/book/{{ book.id }}"></app-cover>

      <div matLine routerLink="/book/{{ book.id }}"> {{ book.title }} </div>

      <app-button design="icon" (simpleClick)="removeBookmark(book)">
        <mat-icon>delete</mat-icon>
      </app-button>
    </mat-list-item>
  </mat-nav-list>

</app-catalog>
