
<!--Name-->
<div class="mat-h2"> {{model?.name}}</div>

<!--Description-->
<div class="mat-body"> {{model?.description}}</div>

<app-form #inviteForm [template]="inviteFormTemplate" [errors]="inviteFormErrors"></app-form>

<app-button (simpleClick)="invite()">{{ componentTK + 'invite-member' |translate }}</app-button>

<!--Members-->
<mat-nav-list *ngIf="model">

  <mat-list-item *ngFor="let member of model.members">

    <!--UserName-->
    <a matLine [routerLink]="['/users', member.userName]">{{ member.userName }}</a>


  </mat-list-item>

</mat-nav-list>
