<mat-card>

  <!--Page name-->
  <h2>{{ 'pages.sign-in.name' | translate }}</h2>

  <!--Main form-->
  <form [formGroup]="mainForm" (submit)="mainSubmit()">

    <!--Email input-->
    <app-input formControlName="email" type="email" fieldTK="email" [field]="mainForm.get('email')"></app-input>
    <br />
    <br />

    <!--Password input-->
    <app-input formControlName="password" type="password" fieldTK="password" [field]="mainForm.get('password')"></app-input>
    <br />
    <br />

    <!--Submit button-->
    <button mat-raised-button color="primary" type="submit">
      {{ 'button-texts.sign-in' | translate }}
    </button>

    <!--Sign up link-->
    <a routerLink="/sign-up" mat-button>{{ 'button-texts.sign-up' | translate }}</a>
  </form>
</mat-card>
